.cache/
.next/
.DS_Store
/dist/
/docs/site/dist/
/docs/site/public/~partytown/
/docs/site/src/table-of-contents.ts
/docs/site/src/pages/
node_modules/
/integration/
/lib/
/react/
/tests/nextjs/public/
/tests/benchmarks/screenshots/
/tests/posts/
/tests/react-app/public/~partytown/
/tests/videos/
/services/
/tsc/
/utils/
/index.cjs
/index.mjs
/index.d.ts
.idea
.history
tests/integrations/load-scripts-on-main-thread/snippet.js
