/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  height: 100%;
  background-color: #e6e6e6;
}

body {
  padding: 0;
  line-height: inherit;
  height: 100%;
}
