 
<footer>
	<div class="social">
		<a href="https://github.com/BuilderIO/partytown">
			Github
		</a>
		<a href="https://discord.gg/bNVSQmPzqy">
			Discord
		</a>
		<a href="https://twitter.com/QwikDev">
			@QwikDev
		</a>
		<a href="https://twitter.com/builderio">
			@Builderio
		</a> 
	</div>
	<div class="builder">
		Made with 💜 by the <a href="https://www.builder.io/">Builder.io</a> team
	</div>
</footer>

<style>
	footer {
		margin-top: 2rem;
		padding: 2rem 0;
		border-top: 2px solid var(--theme-divider);
		text-align: center;
	}
	footer .social a {
		margin: 0 4px;
		padding: 4px 12px;
		text-decoration: none;
		color: var(--theme-text-light);
		display: inline-block;
		border-radius: 4px;
	}
	footer .social a:hover {
		background-color: var(--theme-bg-hover);
	}
	footer .builder {
		font-size: 12px;
		margin: 15px 0;
	}
	footer .builder a:hover {
		text-decoration: none; 
	}
</style>
