<footer class="container mx-auto px-4 md:px-0 mt-4">
  <div class="made-with-love">Made with ❤️ by</div>
  <div class="footer-top">
    <a href="https://www.builder.io" target="_blank" class="builder-logo"
      ><svg
        width="160"
        height="34"
        viewBox="0 0 312 67"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Builder Logo"
      >
        <g clip-path="url(#clip0_2_46)">
          <path
            d="M58.5952 18.8422C58.5983 21.6525 57.9717 24.4278 56.7617 26.964C55.5516 29.5002 53.7889 31.7328 51.6029 33.4978L1.32849 4.94869C1.13619 4.83906 0.957774 4.70667 0.797093 4.55439C0.54498 4.30715 0.344641 4.01213 0.207782 3.68656C0.070922 3.36099 0.000285894 3.01139 0 2.6582C0 1.9532 0.279931 1.27708 0.778211 0.77857C1.27649 0.28006 1.9523 0 2.65698 0L39.7617 0C44.7566 0 49.547 1.98516 53.079 5.51876C56.611 9.05236 58.5952 13.845 58.5952 18.8422Z"
            fill="#18B4F4"
          ></path>
          <path
            d="M58.5952 48.1533C58.5958 50.6281 58.1091 53.0787 57.1628 55.3653C56.2166 57.6518 54.8295 59.7295 53.0805 61.4797C51.3316 63.2298 49.2552 64.6181 46.97 65.5653C44.6847 66.5125 42.2353 67 39.7617 67H2.65697C2.13137 66.9943 1.61925 66.8329 1.1854 66.536C0.75156 66.2391 0.415485 65.8201 0.219699 65.3321C0.0239124 64.844 -0.0227877 64.3089 0.0855068 63.7943C0.193801 63.2797 0.452224 62.8088 0.82808 62.4412C0.977894 62.2907 1.14601 62.1598 1.32848 62.0513L21.1141 50.816L51.5985 33.5022C53.7842 35.2667 55.5471 37.4985 56.7579 40.0338C57.9686 42.5691 58.5964 45.3435 58.5952 48.1533Z"
            fill="#FD6B3C"
          ></path>
          <path
            d="M51.6029 33.4978L21.1141 50.816L1.32851 62.0513C1.13852 62.1568 0.962902 62.2864 0.805969 62.4367C8.35007 54.6957 12.5682 44.3093 12.5587 33.4978C12.5729 22.6849 8.35596 12.2959 0.810398 4.55438C0.971079 4.70667 1.14949 4.83905 1.34179 4.94868L51.6029 33.4978Z"
            fill="#A97FF2"
          ></path>
          <path
            d="M99.8005 24.5706C108.493 24.5706 113.404 31.5174 113.404 39.9306C113.404 48.3438 108.493 55.2374 99.8005 55.2374C95.2836 55.2374 91.8295 53.4299 89.9209 50.3641L89.1327 54.5463H83.6948V14.1771H90.4258V29.0852C92.0642 26.582 95.2836 24.5706 99.8005 24.5706ZM98.4454 49.3052C103.525 49.3052 106.686 45.185 106.686 39.9306C106.686 34.5655 103.525 30.4984 98.4454 30.4984C93.3662 30.4984 90.1999 34.5566 90.1999 39.9306C90.1999 45.1894 93.3086 49.3052 98.4454 49.3052Z"
            fill="currentColor"
          ></path>
          <path
            d="M137.056 42.4737V25.2529H143.773V42.1325C143.773 49.6641 140.333 55.2375 130.847 55.2375C121.362 55.2375 117.921 49.6464 117.921 42.1325V25.2529H124.639V42.4737C124.639 47.0458 126.782 49.3052 130.838 49.3052C134.895 49.3052 137.056 47.0458 137.056 42.4737Z"
            fill="currentColor"
          ></path>
          <path
            d="M149.149 16.215C149.127 15.6253 149.227 15.0373 149.443 14.488C149.659 13.9388 149.986 13.4404 150.404 13.0241C150.822 12.6078 151.322 12.2827 151.872 12.0694C152.422 11.8561 153.011 11.7592 153.6 11.7847C156.151 11.7847 157.988 13.6233 157.988 16.2372C157.988 18.8511 156.151 20.5656 153.6 20.5656C151.049 20.5656 149.149 18.7625 149.149 16.215Z"
            fill="currentColor"
          ></path>
          <path
            d="M268.997 16.215C268.974 15.6272 269.074 15.0411 269.288 14.4935C269.503 13.9458 269.828 13.4485 270.244 13.0325C270.66 12.6166 271.157 12.291 271.704 12.0763C272.252 11.8616 272.838 11.7623 273.425 11.7847C275.976 11.7847 277.814 13.6233 277.814 16.2372C277.814 18.8511 275.976 20.5656 273.425 20.5656C270.874 20.5656 268.997 18.7625 268.997 16.215Z"
            fill="currentColor"
          ></path>
          <path
            d="M256.071 50.466C256.048 49.878 256.146 49.2916 256.361 48.7436C256.575 48.1957 256.901 47.698 257.316 47.282C257.732 46.8659 258.23 46.5404 258.777 46.3259C259.325 46.1114 259.911 46.0126 260.499 46.0356C263.05 46.0356 264.887 47.8742 264.887 50.466C264.887 53.0577 263.05 54.7988 260.499 54.7988C257.948 54.7988 256.071 53.0178 256.071 50.466Z"
            fill="currentColor"
          ></path>
          <path d="M156.93 25.2485H150.212V54.5596H156.93V25.2485Z" fill="currentColor"></path>
          <path
            d="M163.648 54.5596V14.1771H170.365V54.5685L163.648 54.5596Z"
            fill="currentColor"
          ></path>
          <path
            d="M198.082 14.1771H204.8V54.5685H199.375L198.587 50.3862C196.727 53.4387 193.273 55.2596 188.712 55.2596C180.072 55.2596 175.161 48.3128 175.161 39.9528C175.161 31.5927 180.072 24.5928 188.712 24.5928C193.282 24.5928 196.444 26.6219 198.082 29.1073V14.1771ZM190.111 30.5073C185.032 30.5073 181.87 34.5743 181.87 39.9395C181.87 45.1939 185.032 49.3141 190.111 49.3141C195.19 49.3141 198.352 45.1939 198.352 39.9395C198.361 34.5566 195.257 30.4984 190.12 30.4984L190.111 30.5073Z"
            fill="currentColor"
          ></path>
          <path
            d="M237.596 46.5407C235.51 51.7907 230.652 55.2375 224.275 55.2375C215.419 55.2375 209.662 48.6274 209.662 39.8731C209.662 31.3447 215.534 24.5707 224.227 24.5707C232.92 24.5707 238.623 31.1763 238.623 39.7623C238.651 40.4627 238.59 41.1639 238.442 41.849H216.26C216.765 46.4831 219.759 49.4736 224.444 49.4736C227.663 49.4736 230.316 47.892 231.556 44.9591L237.596 46.5407ZM216.371 36.8826H231.954C231.387 32.8155 228.567 30.0466 224.218 30.0466C219.869 30.0466 217.049 32.8731 216.371 36.8826Z"
            fill="currentColor"
          ></path>
          <path
            d="M259.162 31.2915C258.657 31.2213 258.148 31.1829 257.638 31.1763C252.896 31.1763 250.075 33.6617 250.075 39.3104V54.5596H243.357V25.2529H248.782L249.565 29.3155C250.637 27.4548 253.108 24.9694 258.205 24.9694C258.484 24.9694 259.162 25.027 259.162 25.027V31.2915Z"
            fill="currentColor"
          ></path>
          <path d="M276.777 25.2485H270.06V54.5596H276.777V25.2485Z" fill="currentColor"></path>
          <path
            d="M281.573 39.9307C281.573 31.6858 287.445 24.5707 296.758 24.5707C306.071 24.5707 312 31.6858 312 39.9307C312 48.1755 306.133 55.2375 296.758 55.2375C287.383 55.2375 281.573 48.1755 281.573 39.9307ZM296.758 49.3053C301.673 49.3053 305.282 45.5793 305.282 39.9307C305.282 34.282 301.673 30.4985 296.758 30.4985C291.842 30.4985 288.282 34.2244 288.282 39.9307C288.282 45.6369 291.904 49.3053 296.758 49.3053Z"
            fill="currentColor"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0_2_46"><rect width="312" height="67" fill="white"></rect></clipPath>
        </defs></svg
    ></a>
    <ul class="footer-social">
      <li>
        <a href="https://qwik.builder.io/chat" target="_blank" title="Discord"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 512 512"
            role="img"
            fill="currentColor"
            aria-label="Discord Logo"
          >
            <path
              d="M464 66.52A50 50 0 00414.12 17L97.64 16A49.65 49.65 0 0048 65.52V392c0 27.3 22.28 48 49.64 48H368l-13-44 109 100zM324.65 329.81s-8.72-10.39-16-19.32C340.39 301.55 352.5 282 352.5 282a139 139 0 01-27.85 14.25 173.31 173.31 0 01-35.11 10.39 170.05 170.05 0 01-62.72-.24 184.45 184.45 0 01-35.59-10.4 141.46 141.46 0 01-17.68-8.21c-.73-.48-1.45-.72-2.18-1.21-.49-.24-.73-.48-1-.48-4.36-2.42-6.78-4.11-6.78-4.11s11.62 19.09 42.38 28.26c-7.27 9.18-16.23 19.81-16.23 19.81-53.51-1.69-73.85-36.47-73.85-36.47 0-77.06 34.87-139.62 34.87-139.62 34.87-25.85 67.8-25.12 67.8-25.12l2.42 2.9c-43.59 12.32-63.44 31.4-63.44 31.4s5.32-2.9 14.28-6.77c25.91-11.35 46.5-14.25 55-15.21a24 24 0 014.12-.49 205.62 205.62 0 0148.91-.48 201.62 201.62 0 0172.89 22.95s-19.13-18.15-60.3-30.45l3.39-3.86s33.17-.73 67.81 25.16c0 0 34.87 62.56 34.87 139.62 0-.28-20.35 34.5-73.86 36.19z"
            ></path>
            <path
              d="M212.05 218c-13.8 0-24.7 11.84-24.7 26.57s11.14 26.57 24.7 26.57c13.8 0 24.7-11.83 24.7-26.57.25-14.76-10.9-26.57-24.7-26.57zM300.43 218c-13.8 0-24.7 11.84-24.7 26.57s11.14 26.57 24.7 26.57c13.81 0 24.7-11.83 24.7-26.57S314 218 300.43 218z"
            ></path></svg
        ></a>
      </li>
      <li>
        <a href="https://github.com/BuilderIO/partytown" target="_blank" title="GitHub"
          ><svg
            viewBox="0 0 16 16"
            width="25"
            height="25"
            fill="currentColor"
            role="img"
            aria-label="GitHub Logo"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
            ></path></svg
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/qwikdev" target="_blank" title="Twitter"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 512 512"
            role="img"
            fill="currentColor"
            aria-label="Twitter Logo"
          >
            <path
              d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z"
            ></path></svg
        ></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">© 2022 Builder.io, Inc.</div>
</footer>
<style>
  footer {
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 2px solid var(--theme-divider);
    color: black;
  }
  .made-with-love {
    font-weight: 300;
    font-size: medium;
  }
  .footer-top {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
  }
  a {
    color: black;
  }
  a:visited {
    color: black;
  }
  .made-with-love {
    text-align: left;
  }
  ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
  }
  .footer-bottom {
    margin-top: 1em;
    padding-top: .35em;
    border-top: 1px solid black;
    font-weight: 300;
    font-size: smaller;
  }
</style>
