---
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle.tsx';

---

<header>
	<SkipToContent />
	<nav class="nav-wrapper" title="Top Navigation">
		<div class="menu-toggle">
			<SidebarToggle client:idle />
		</div>
		<div class="logo flex">
			<a class="logo-image" href="/">
				<img src="partytown-logo.png" alt="Partytown Logo"/>
			</a>
			<a href="https://www.builder.io/blog/partytown-is-now-in-beta" target="_blank" class="beta">Beta</a>
		</div>
		<div style="flex-grow: 1;"></div>
	</nav>
</header>

<style>
	.logo {
		display: flex;
		overflow: hidden; 
		line-height: 1;
		color: hsla(var(--color-base-white), 100%, 1);
		gap: 0.25em;
		z-index: -1;
	}

	.logo img {
		width: 171px;
		height: 42px;
		max-width: initial;
	}

	.beta {
		margin-left: 4px;
		background: #c1bfbf;
		border-radius: 10px;
		padding: 2px 8px;
		text-decoration: none;
		color: white;
		border: 1px solid transparent;
	}
	.beta:hover {
		border-color: #c1bfbf;
		color: #c1bfbf;
		background-color: white;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		width: 100%;
		max-width: 82em;
		padding: 0 2rem;
	}

	header {
		z-index: 11;
		height: var(--theme-navbar-height);
		width: 100%;
		background-color: var(--theme-bg);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: sticky;
		top: 0;
	}

	@media (min-width: 50em) {
		header {
			position: static;
			padding: 1.5rem 0rem;
		}
		.logo {
			width: auto;
			margin: 0;
			z-index: 0;
		}
		.menu-toggle {
			display: none;
		}
		.logo {
			width: auto;
		}
	}

	@media (min-width: 72em) {
		header {
			width: 82em;
			margin: 0 auto;
		} 
	}


	.search-item {
		display: none;
		position: relative;
		z-index: 10;
		flex-grow: 1;
		padding-right: 0.7rem;
		display: flex;
		max-width: 200px;
	}
	:global(.search-item > *) {
		flex-grow: 1;
	} 
</style>
