---
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle.tsx';

---

<header>
	<SkipToContent />
	<nav class="nav-wrapper" title="Top Navigation">
		<div class="menu-toggle">
			<SidebarToggle client:idle />
		</div>
		<div class="logo flex">
			<a class="logo-image" href="/">
				<svg viewBox="0 0 476 100" fill="none" aria-label="Partytown Logo" xmlns="http://www.w3.org/2000/svg"><title>Partytown Logo</title><path d="M389.333 25.544a4.387 4.387 0 1 0 0-8.773 4.387 4.387 0 0 0 0 8.773ZM456.515 21.825a4.387 4.387 0 1 0-.001-8.773 4.387 4.387 0 0 0 .001 8.773Z" fill="#FF37AD"/><path d="M460.075 78.183a4.387 4.387 0 1 0-.001-8.773 4.387 4.387 0 0 0 .001 8.773ZM407.249 8.773a4.387 4.387 0 1 0 0-8.773 4.387 4.387 0 0 0 0 8.773Z" fill="#FCC954"/><path d="M433.202 39.236a3.425 3.425 0 0 1-3.324-4.253c.137-.549.249-1.1.333-1.65a9.409 9.409 0 0 1-3.234.705c-1.992.076-3.776-.26-5.296-.996a8.232 8.232 0 0 1-3.561-3.288c-1.635-2.834-1.494-6.562.357-9.498 1.765-2.803 4.754-4.32 7.995-4.072 2.496.195 4.684 1.13 6.436 2.734.319-.9.625-1.864.916-2.89 1.79-6.318 2.381-12.662 2.386-12.726a3.422 3.422 0 0 1 3.719-3.1 3.425 3.425 0 0 1 3.1 3.72c-.025.284-.655 7.048-2.618 13.976-.991 3.498-2.162 6.454-3.489 8.814.098.526.176 1.066.234 1.619.276 2.671.056 5.546-.635 8.313a3.428 3.428 0 0 1-3.319 2.592Zm-7.453-16.232c-.354 0-.978.104-1.48.9-.481.763-.575 1.805-.218 2.424.475.823 1.872.895 2.663.865.898-.034 1.818-.597 2.718-1.623a6.001 6.001 0 0 0-.53-.897c-.743-1.032-1.684-1.56-2.962-1.66-.048-.003-.113-.009-.191-.009Z" fill="#2890E9"/><path d="M423.356 48.617c-14.201-11.194-29.044-16.044-33.153-10.832a4.742 4.742 0 0 0-.836 1.67c-.025.073-.045.15-.058.226v.009c-.055.234-.096.47-.123.71l-8.04 47.073c-1.288 7.56 6.196 13.613 13.321 10.775l43.6-17.373c.769-.306 2.661-1.475 3.179-2.12a4.5 4.5 0 0 0 .384-.427c4.108-5.213-4.074-18.514-18.274-29.712Z" fill="#F0A420"/><path d="M441.625 78.33c4.111-5.215-4.068-18.518-18.269-29.713-14.201-11.195-29.046-16.043-33.157-10.828-4.111 5.215 4.068 18.518 18.269 29.713 14.201 11.195 29.046 16.043 33.157 10.828Z" fill="#FCC954"/><path d="M439.146 75.293c3.373-4.28-4.058-15.764-16.599-25.65-12.541-9.887-25.443-14.432-28.816-10.153-3.374 4.28 4.057 15.764 16.598 25.65 12.541 9.887 25.443 14.433 28.817 10.153Z" fill="#F0A420"/><path d="M409.17 92.39c-5.306.026-9.631-2.63-14.873-6.762-6.1-4.81-10.151-10.568-10.471-13.847l-1.729 10.121c.8 2.888 3.527 6.549 7.482 9.667 3.29 2.594 6.609 4.375 10.05 4.622l9.541-3.802ZM403.862 74.02c-10.164-8.014-16.767-17.21-16.581-22.47l-1.685 9.863c.13 4.698 5.62 12.29 13.43 18.447 6.998 5.517 14.29 9.4 19.874 8.653l9.479-3.778c-7.637.528-15.695-3.758-24.517-10.715Z" fill="#2E6AC9"/><path d="M424.902 53.722a4.387 4.387 0 1 0 0-8.773 4.387 4.387 0 0 0 0 8.773Z" fill="#2890E9"/><path fill-rule="evenodd" clip-rule="evenodd" d="m448.56 45.187.032-.036c.04-.043.114-.122.221-.23.216-.216.563-.548 1.037-.948a22.42 22.42 0 0 1 4.294-2.826c3.751-1.898 9.336-3.447 16.661-1.758a4.089 4.089 0 1 0 1.838-7.97c-9.482-2.186-17.021-.187-22.193 2.432a30.563 30.563 0 0 0-5.873 3.87 24.248 24.248 0 0 0-1.561 1.432 16.795 16.795 0 0 0-.567.598l-.044.05-.016.018-.007.008-.003.003c-.001.002-.003.004 3.097 2.67l-3.1-2.666a4.09 4.09 0 0 0 6.184 5.353Z" fill="#FF37AD"/><path d="M408.048 16.017a4.351 4.351 0 0 0-6.011-1.357 4.355 4.355 0 0 0-1.357 6.01c.158.253 3.399 5.504 4.065 12.695.678 7.306-1.469 14.022-6.39 20.044 1.657 2.106 3.651 4.295 5.929 6.484 3.152-3.642 5.523-7.556 7.081-11.697 1.917-5.095 2.595-10.497 2.017-16.055-.921-8.842-4.768-15.226-5.334-16.124Z" fill="#FF37AD"/><path d="M462.571 57.991c2.223.575 3.794 1.202 4.473 1.494a4.392 4.392 0 0 0 5.163-.415 4.395 4.395 0 0 0 1.521-3.246 4.388 4.388 0 0 0-2.985-4.232c-2.081-.924-9.965-4.044-20.387-3.49-7.015.373-13.761 2.316-20.049 5.781-5.954 3.281-11.483 7.93-16.502 13.861a73.556 73.556 0 0 0 7.47 4.669c8.475-9.659 18.253-14.895 29.148-15.587a39.207 39.207 0 0 1 12.148 1.165Z" fill="#2890E9"/><path d="M1.736 86.528c-.51 0-.926-.158-1.25-.474-.324-.316-.486-.723-.486-1.22V40.778c0-.497.162-.903.486-1.22.324-.316.74-.474 1.25-.474h18.956c3.75 0 6.99.565 9.721 1.694 2.778 1.13 4.93 2.847 6.458 5.152 1.574 2.259 2.36 5.083 2.36 8.472 0 3.434-.786 6.28-2.36 8.54-1.528 2.214-3.68 3.863-6.458 4.948-2.731 1.084-5.971 1.626-9.72 1.626h-9.305v15.318c0 .497-.162.904-.486 1.22-.324.316-.741.474-1.25.474H1.736Zm9.443-25.416h9.166c2.36 0 4.19-.565 5.485-1.695 1.343-1.13 2.014-2.824 2.014-5.083 0-1.988-.602-3.615-1.805-4.88-1.158-1.265-3.056-1.898-5.694-1.898h-9.166v13.556ZM55.428 87.206c-2.454 0-4.653-.452-6.597-1.355-1.944-.95-3.495-2.214-4.652-3.796-1.157-1.581-1.736-3.344-1.736-5.287 0-3.208 1.32-5.738 3.958-7.59 2.685-1.853 6.203-3.118 10.554-3.796l9.096-1.288v-1.22c0-1.762-.416-3.118-1.25-4.067-.833-.949-2.29-1.423-4.374-1.423-1.527 0-2.754.294-3.68.881a6.116 6.116 0 0 0-2.153 2.305c-.37.587-.902.88-1.597.88h-6.596c-.51 0-.903-.135-1.18-.406a1.348 1.348 0 0 1-.348-1.084c0-.769.301-1.672.903-2.712.602-1.039 1.528-2.055 2.777-3.05 1.25-1.039 2.847-1.897 4.792-2.575 1.944-.678 4.328-1.017 7.151-1.017 2.917 0 5.417.34 7.5 1.017 2.083.678 3.75 1.627 5 2.847a11.449 11.449 0 0 1 2.776 4.27c.602 1.581.903 3.298.903 5.15v20.944c0 .497-.162.904-.486 1.22-.324.316-.74.474-1.25.474h-6.804c-.463 0-.857-.158-1.18-.474-.325-.316-.487-.723-.487-1.22v-2.508c-.602.859-1.412 1.672-2.43 2.44-1.019.723-2.245 1.31-3.68 1.762-1.39.452-3.032.678-4.93.678Zm2.777-7.049c1.528 0 2.893-.316 4.097-.948 1.203-.633 2.152-1.605 2.847-2.915.694-1.31 1.041-2.96 1.041-4.948v-1.152l-6.457 1.017c-2.5.406-4.328 1.016-5.486 1.83-1.157.813-1.736 1.807-1.736 2.982 0 .858.255 1.604.764 2.237.556.632 1.273 1.107 2.153 1.423.88.316 1.805.474 2.777.474ZM86.749 86.528c-.463 0-.856-.158-1.18-.474-.325-.316-.487-.723-.487-1.22V52.978c0-.451.163-.836.487-1.152.323-.361.717-.542 1.18-.542h6.805c.463 0 .856.18 1.18.542.37.316.556.7.556 1.152v2.712a11.865 11.865 0 0 1 4.235-3.254c1.713-.768 3.68-1.152 5.902-1.152h2.986c.463 0 .856.158 1.181.474.324.317.486.723.486 1.22v5.83c0 .496-.162.903-.486 1.22a1.63 1.63 0 0 1-1.181.474h-6.11c-2.037 0-3.634.565-4.791 1.694-1.158 1.085-1.736 2.644-1.736 4.677v17.961c0 .497-.162.904-.486 1.22-.324.316-.741.474-1.25.474h-7.291ZM132.617 86.528c-2.87 0-5.324-.451-7.361-1.355-2.036-.949-3.587-2.395-4.652-4.338-1.018-1.943-1.528-4.383-1.528-7.32V59.282h-5.416c-.509 0-.925-.158-1.249-.475-.324-.316-.486-.723-.486-1.22v-4.609c0-.497.162-.903.486-1.22.324-.316.74-.474 1.249-.474h5.416V40.101c0-.497.162-.904.487-1.22.37-.317.786-.475 1.249-.475h6.805c.509 0 .926.158 1.25.475.324.316.486.723.486 1.22v11.183h8.68c.463 0 .856.158 1.18.474.324.317.486.723.486 1.22v4.61c0 .496-.162.903-.486 1.22a1.626 1.626 0 0 1-1.18.474h-8.68v13.42c0 1.717.301 3.072.903 4.067.648.948 1.759 1.423 3.333 1.423h5.069c.462 0 .856.158 1.18.474.324.317.486.7.486 1.153v5.015c0 .497-.162.904-.486 1.22a1.628 1.628 0 0 1-1.18.474h-6.041ZM152.978 99.406c-.37 0-.717-.135-1.041-.406a1.362 1.362 0 0 1-.417-1.017c0-.09.023-.226.07-.407.046-.135.115-.316.208-.542l5.416-12.674-13.332-30.704c-.139-.361-.208-.655-.208-.88a1.63 1.63 0 0 1 .486-1.018 1.33 1.33 0 0 1 1.041-.474h6.736c.602 0 1.041.158 1.319.474.278.272.486.565.625.882l8.61 21.01 8.819-21.01a3.61 3.61 0 0 1 .694-.95c.278-.27.717-.406 1.319-.406h6.597c.416 0 .763.158 1.041.474.324.272.486.588.486.95 0 .225-.092.542-.278.948l-19.65 44.395a2.31 2.31 0 0 1-.694.949c-.278.27-.718.406-1.32.406h-6.527ZM204.359 86.528c-2.87 0-5.324-.451-7.361-1.355-2.037-.949-3.587-2.395-4.652-4.338-1.018-1.943-1.528-4.383-1.528-7.32V59.282h-5.416c-.509 0-.925-.158-1.249-.475-.324-.316-.487-.723-.487-1.22v-4.609c0-.497.163-.903.487-1.22.324-.316.74-.474 1.249-.474h5.416V40.101c0-.497.162-.904.487-1.22.37-.317.786-.475 1.249-.475h6.805c.509 0 .926.158 1.25.475.324.316.486.723.486 1.22v11.183h8.68c.463 0 .856.158 1.18.474.324.317.486.723.486 1.22v4.61c0 .496-.162.903-.486 1.22a1.626 1.626 0 0 1-1.18.474h-8.68v13.42c0 1.717.301 3.072.903 4.067.648.948 1.759 1.423 3.333 1.423h5.069c.462 0 .856.158 1.18.474.324.317.486.7.486 1.153v5.015c0 .497-.162.904-.486 1.22a1.628 1.628 0 0 1-1.18.474h-6.041ZM234.65 87.206c-3.842 0-7.06-.61-9.652-1.83-2.592-1.265-4.583-3.05-5.972-5.354-1.342-2.305-2.083-4.993-2.221-8.066-.047-.904-.07-1.92-.07-3.05 0-1.175.023-2.191.07-3.05.138-3.117.925-5.806 2.36-8.065 1.435-2.305 3.449-4.067 6.041-5.287 2.593-1.265 5.74-1.898 9.444-1.898 3.657 0 6.781.633 9.374 1.898 2.592 1.22 4.606 2.982 6.041 5.287 1.435 2.259 2.222 4.948 2.36 8.065.093.859.139 1.875.139 3.05 0 1.13-.046 2.146-.139 3.05-.138 3.073-.902 5.761-2.291 8.066-1.342 2.304-3.31 4.09-5.902 5.354-2.592 1.22-5.786 1.83-9.582 1.83Zm0-7.455c2.268 0 3.981-.678 5.138-2.034 1.157-1.4 1.782-3.434 1.875-6.1.046-.677.069-1.581.069-2.71a42 42 0 0 0-.069-2.712c-.093-2.62-.718-4.631-1.875-6.032-1.157-1.4-2.87-2.101-5.138-2.101-2.269 0-4.005.7-5.208 2.1-1.157 1.402-1.782 3.412-1.875 6.033a42 42 0 0 0-.069 2.711c0 1.13.023 2.034.069 2.711.093 2.666.718 4.7 1.875 6.1 1.203 1.356 2.939 2.034 5.208 2.034ZM268.739 86.528c-.648 0-1.158-.158-1.528-.474-.324-.316-.579-.723-.764-1.22l-9.929-31.381a1.768 1.768 0 0 1-.139-.678c0-.407.139-.745.417-1.017.324-.316.694-.474 1.111-.474h6.11c.602 0 1.065.158 1.389.474.324.317.532.61.625.882l6.318 20.943 6.736-20.808c.092-.316.301-.633.625-.949.37-.361.879-.542 1.527-.542h3.958c.648 0 1.134.18 1.458.542.371.316.602.633.695.95l6.735 20.807 6.319-20.943c.046-.272.231-.565.555-.882.37-.316.833-.474 1.389-.474h6.11c.417 0 .764.158 1.042.474.324.272.486.61.486 1.017 0 .226-.023.452-.07.678l-9.998 31.381a2.422 2.422 0 0 1-.764 1.22c-.324.316-.81.474-1.458.474h-5.347c-.648 0-1.157-.158-1.528-.474a2.902 2.902 0 0 1-.833-1.22l-6.735-20.062-6.874 20.062a2.422 2.422 0 0 1-.764 1.22c-.371.316-.88.474-1.528.474h-5.346ZM318.046 86.528c-.463 0-.857-.158-1.181-.474-.324-.316-.486-.723-.486-1.22V52.978c0-.497.162-.903.486-1.22a1.628 1.628 0 0 1 1.181-.474h6.804c.51 0 .926.158 1.25.474.324.317.486.723.486 1.22v2.644c1.204-1.446 2.755-2.644 4.652-3.592 1.898-.95 4.213-1.424 6.944-1.424s5.115.61 7.152 1.83c2.083 1.175 3.703 2.915 4.861 5.22 1.203 2.258 1.805 5.015 1.805 8.268v18.91c0 .497-.185.904-.556 1.22a1.626 1.626 0 0 1-1.18.474h-7.36c-.509 0-.926-.158-1.25-.474-.324-.316-.486-.723-.486-1.22V66.331c0-2.395-.602-4.248-1.805-5.558-1.158-1.356-2.87-2.033-5.139-2.033-2.175 0-3.911.677-5.207 2.033-1.297 1.31-1.945 3.163-1.945 5.558v18.503c0 .497-.162.904-.486 1.22a1.626 1.626 0 0 1-1.18.474h-7.36Z" fill="#2E6AC9"/></svg>
			</a>
			<a href="https://www.builder.io/blog/partytown-is-now-in-beta" target="_blank" class="beta">Beta</a>
		</div>
		<div style="flex-grow: 1;"></div>
	</nav>
</header>

<style>
	.logo {
		display: flex;
		overflow: hidden; 
		line-height: 1;
		color: hsla(var(--color-base-white), 100%, 1);
		gap: 0.25em;
		z-index: -1;
	}

	.logo svg {
		width: 180px;
		max-width: initial;
	}

	a.logo-image {
		padding-bottom: 10px;
	}

	.beta {
		margin-left: 4px;
		background: #2e6ac8;
		border-radius: 10px;
		padding: 2px 8px;
		text-decoration: none;
		color: white;
		border: 1px solid transparent;
	}
	.beta:hover {
		border-color: #a8a8a8;
		color: #a8a8a8;
		background-color: white;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		width: 100%;
		max-width: 82em;
		padding: 0 2rem;
	}

	header {
		z-index: 11;
		height: var(--theme-navbar-height);
		width: 100%;
		background-color: var(--theme-bg);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: sticky;
		top: 0;
	}

	@media (min-width: 50em) {
		header {
			position: static;
			padding: 1.5rem 0rem;
		}
		.logo {
			width: auto;
			margin: 0;
			z-index: 0;
		}
		.menu-toggle {
			display: none;
		}
		.logo {
			width: auto;
		}
	}

	@media (min-width: 72em) {
		header {
			width: 82em;
			margin: 0 auto;
		} 
	}


	.search-item {
		display: none;
		position: relative;
		z-index: 10;
		flex-grow: 1;
		padding-right: 0.7rem;
		display: flex;
		max-width: 200px;
	}
	:global(.search-item > *) {
		flex-grow: 1;
	} 
</style>
